name: Push Workflows

on: [push]

jobs:

  helloworld:
    name: Hello World!
    runs-on: ubuntu-latest
    steps:
      - name: Exec Echo
        run: |
          echo "Hello World!"
          echo "Good Bye!"

  show_environments:
    name: Show Environments
    runs-on: ubuntu-latest
    steps:
      - name: Swap check before off
        run: |
          sudo swapon --show
          free
          df
      - name: Swap off
        run: sudo swapoff -a
      - name: Swap check after off
        run: |
          sudo swapon --show
          free
          df
      - name: Remove Swapfile
        run: sudo rm /mnt/swapfile
      - name: Swap check after delete
        run: |
          sudo swapon --show
          free
          df
      - name: Create new Swapfile
        run: |
          sudo fallocate -l 68G /mnt/swapfile
          sudo chmod 600 /mnt/swapfile
          sudo mkswap /mnt/swapfile
          sudo swapon /mnt/swapfile
      - name: Swap check after new swap
        run: |
          sudo swapon --show
          free
          df

  test_download1:
    if: ${{ false }}
    name: Download Test 1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check space before cleanup
        run: df -h
      - name: Clean space as per https://github.com/actions/virtual-environments/issues/709
        run: |
          sudo rm -rf "/opt/ghc" || true
          sudo rm -rf "/usr/share/dotnet" || true
          sudo rm -rf "$AGENT_TOOLSDIRECTORY" || true
          sudo rm -rf "/usr/local/lib/android" || true
          sudo rm -rf "/usr/local/share/boost" || true
      - name: Check space checkupoint cleanup
        run: df -h
      - name: apt-get remove cleanup
        run: |
          sudo apt purge -y \
            ansible* \
            aria2* \
            aspnetcore* \
            azure-cli* \
            cabal* \
            clang* \
            dotnet-* \
            firefox* \
            gfortran-* \
            ghc* \
            google-chrome-stable* \
            google-cloud-sdk* \
            imagemagick* \
            javascript* \
            kubectl* \
            llvm* \
            mono* \
            mysql* \
            nginx* \
            node* \
            npm* \
            nuget* \
            php* \
            postgresql* \
            powershell* \
            rpm* \
            ruby* \
            sqlite3* \
            subversion \
            temurin* \
            tmux* \
            vim* \
            yarn*
          sudo apt-get autoremove -y >/dev/null 2>&1 || true
          sudo apt-get autoclean -y >/dev/null 2>&1 || true
      - name: Check space after cleanup
        run: df -h
      - name: Install h5py
        run: |
          python3 -m pip install h5py
      - name: Check space before download
        run: df -h
      - name: Download Task1
        run: |
          mkdir data
          curl -L "https://huggingface.co/datasets/sadit/SISAP2025/resolve/main/benchmark-dev-pubmed23.h5?download=true" -o data/benchmark-dev-pubmed23.h5
      - name: Check space after download
        run: df -h
      - name: Info Task1
        run: |
          echo data/benchmark-dev-pubmed23.h5
          python3 info_h5.py data/benchmark-dev-pubmed23.h5
          echo
      - name: Check space after solutions
        run: df -h

  test_download2:
    if: ${{ false }}
    name: Download Test 2
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check space before cleanup
        run: df -h
      - name: Clean space as per https://github.com/actions/virtual-environments/issues/709
        run: |
          sudo rm -rf "/opt/ghc" || true
          sudo rm -rf "/usr/share/dotnet" || true
          sudo rm -rf "$AGENT_TOOLSDIRECTORY" || true
          sudo rm -rf "/usr/local/lib/android" || true
          sudo rm -rf "/usr/local/share/boost" || true
      - name: Check space checkupoint cleanup
        run: df -h
      - name: apt-get remove cleanup
        run: |
          sudo apt purge -y \
            ansible* \
            aria2* \
            aspnetcore* \
            azure-cli* \
            cabal* \
            clang* \
            dotnet-* \
            firefox* \
            gfortran-* \
            ghc* \
            google-chrome-stable* \
            google-cloud-sdk* \
            imagemagick* \
            javascript* \
            kubectl* \
            llvm* \
            mono* \
            mysql* \
            nginx* \
            node* \
            npm* \
            nuget* \
            php* \
            postgresql* \
            powershell* \
            rpm* \
            ruby* \
            sqlite3* \
            subversion \
            temurin* \
            tmux* \
            vim* \
            yarn*
          sudo apt-get autoremove -y >/dev/null 2>&1 || true
          sudo apt-get autoclean -y >/dev/null 2>&1 || true
      - name: Check space after cleanup
        run: df -h
      - name: Install h5py
        run: |
          python3 -m pip install h5py
      - name: Check space before download
        run: df -h
      - name: Download Task2
        run: |
          mkdir data
          curl -L "https://huggingface.co/datasets/sadit/SISAP2025/resolve/main/benchmark-dev-gooaq.h5?download=true" -o data/benchmark-dev-gooaq.h5
          curl -L "https://huggingface.co/datasets/sadit/SISAP2025/resolve/main/allknn-benchmark-dev-gooaq.h5?download=true" -o data/allknn-benchmark-dev-gooaq.h5
      - name: Check space after download
        run: df -h
      - name: Info Task2
        run: |
          echo data/benchmark-dev-gooaq.h5
          python3 info_h5.py data/benchmark-dev-gooaq.h5
          echo
          echo data/allknn-benchmark-dev-gooaq.h5
          python3 info_h5.py data/allknn-benchmark-dev-gooaq.h5
          echo
      - name: Check space after solutions
        run: df -h
